{
	"me": {
		"nicks": ["NotBurpyHooves"],
		"ident": "nbh",
		"gecos": "Not Burpy Hooves"
	},

	"network": {
		"address": "irc.canternet.org",
		"port": 6697,
		"ssl": true,
		"channels": ["#test"],
		"proxy": "none",
		"sasl": {
            "use": false,
            "method": "plain",
            "username": "NotBurpyHooves",
            "password": "s3cur3p4ss"
        }
	},

	"proxies": {
        "tor": "socks5://127.0.0.1:9050"
    },

	"misc": {
		"command_prefix": "!",
		"loglevel": "DEBUG",
		"http_proxy": "none"
	},

	"modules": [
		"core"
	]
}
